body{
  background-color: #eeeeee;
  margin: 0;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625em;
  color: #64b2cd;
}

h2{
  margin: 0 auto 0 auto;
  font-family: 'EB Garamond', serif;
  font-size: 2em;
}

h3{
  margin: 0 auto 0 auto;
  font-family: 'Domine', serif;
}

.awal{
  color: #3c70a4;
  margin: 30px auto 0 auto;
  font-size: 2em;
}

.top-container{
  background-color: #d9eeec;
}

.middle-container{
  /*background-color: #e6f8f9;*/
  background-color: white;
}

.bottom-container{
  background-color: #ecf4f3;
}

.Penjelasan{
  text-decoration: underline;
}

.mountain{
  width:55%;
}

.cloud0{
  position: relative;
  left: 100px;
  margin-top: 50px;
}

.cloud1{
  position: absolute;
}

.cloud2{
  position: absolute;
}

.ferdyan {
  border-radius: 100%;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.dip{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
}
.deep{
  width: 25%;
  float: right;
  margin-right: 30px;
  margin-bottom: 50px;
}
.plc{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
}
.embedded{
  width: 25%;
  float: right;
  margin-right: 30px;
  margin-bottom: 50px;
}

.ac-expe-row{
  width: 50%;
  margin: 20px auto 50px auto;
  text-align: center;
  line-height: 2;
}

.its{
  margin-top: 1px;
}

.len{
  margin-top: 1px;
}

.electra{
  margin-top: 1px;
}

.b402{
  margin-top: 1px;
  position: relative;
  left: 180px;
}

.travier{
  margin-top: 20px;
  width:25%;
  height: 50%;
}
